.title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 64px;
}
.subHeader {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-left: 45px;
}
.subHeader div {
  background-color: #bab4b4;
  width: 240px;
  height: 2px;
}
