.task {
  background-color: #222;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  width: 68%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}
.inputTask {
  display: flex;
  justify-content: center;
}
.deleteBtn {
  background-color: #222;
  border: none;
  cursor: pointer;
}
.deleteBtn:hover {
  opacity: 0.5;
}
